# SASWATA SARKAR 19279

# Exercise 1: Working with Python Lists

## 1.

In [28]:
shopping = ['bread', 'milk', 'eggs']
print(shopping)

['bread', 'milk', 'eggs']

## 2.

In [29]:
for item in shopping:
  print(item)

bread
milk
eggs

## 3.

In [30]:
mixed = [365, 'days', True]
print(mixed)

[365, 'days', True]

# Exercise 2: Basic List Operations

## 1.

In [31]:
len(shopping)

3

## 2.

In [32]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1+list2
print(final_list)

[1, 2, 3, 4, 5, 6]

## 3.

In [33]:
list3 = ['iiserb']*3
print(list3)

['iiserb', 'iiserb', 'iiserb']

# Exercise 3: Accessing an Item from Shopping List Data

## 1.

In [34]:
print(shopping[1])

milk

## 2.

In [35]:
shopping[1] = 'banana'
print(shopping)

['bread', 'banana', 'eggs']

## 3.

In [36]:
print(shopping[-1])

eggs

## 4.

In [37]:
print(shopping[0:2])
print(shopping[0:3])
print(shopping[1:3])

['bread', 'banana']
['bread', 'banana', 'eggs']
['banana', 'eggs']

# Exercise 4: Adding items to our shopping list

## 1.

In [38]:
shopping = ["bread","milk", "eggs"]
shopping.append("apple")
print(shopping)

['bread', 'milk', 'eggs', 'apple']

## 2.

In [39]:
shopping = []
shopping.append("bread")
shopping.append("milk")
shopping.append("eggs")
shopping.append("apple")
print(shopping)

['bread', 'milk', 'eggs', 'apple']

## 3.

In [40]:
shopping.insert(2, 'ham')
shopping

['bread', 'milk', 'ham', 'eggs', 'apple']

# Exercise 5: Using a Dictionary to Store a Movie Record

In [41]:
movie = {
"title": "The Godfather",
"director": "Francis Ford Coppola",
"year": 1972,
"rating": 9.2
}
print(movie['year'])

1972

In [42]:
movie['rating'] = (movie['rating']+9.3)/2
print(movie['rating'])

9.25

In [43]:
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']

movie['other_details'] = {
'runtime': 175,
'language': 'English'
}

print(movie)

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

# Exercise 5: Storing Company Employee Table Data Using a List and a Dictionary

## 1. 2. 3.

In [44]:
employees = []
employees.append({"name": "John Mckee", "age":38, "department":"Sales"})
employees.append({"name": "Lisa Crowford", "age":29, "department":"Marketing"})
employees.append({"name": "Sujan Patel", "age":33, "department":"HR"})
print(employees)

[{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crowford', 'age': 29, 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

## 4.

In [45]:
for i in range(len(employees)):
  for j in ['name', 'age', 'department']:
    print(f"{j.capitalize()}:",employees[i][j])
  print("-"*30)

Name: John Mckee
Age: 38
Department: Sales
------------------------------
Name: Lisa Crowford
Age: 29
Department: Marketing
------------------------------
Name: Sujan Patel
Age: 33
Department: HR
------------------------------

## 5.

In [46]:
for employee in employees:
  if employee['name']=='Sujan Patel':
    for j in ['name', 'age', 'department']:
      print(f"{j.capitalize()}:",employee[j])
    print("-"*40)

Name: Sujan Patel
Age: 33
Department: HR
----------------------------------------

# Exercise 7: Exploring Tuple Properties in Our Shopping List

## 1.

In [47]:
t = ('bread', 'milk', 'eggs')
len(t)

3

## 2.

In [48]:
t.append('apple')
t[2] = 'apple'

AttributeError: 'tuple' object has no attribute 'append'

## 3.

In [49]:
print(t + ('apple', 'orange'))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [50]:
t_mixed = 'apple', True, 3
print(t_mixed)
t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

# Exercise 8: Using Sets in Python

## 1.

In [51]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

## 2.

In [52]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'apple', 'orange', 'banana'}

## 3.

In [53]:
s4.add('pineapple')
print(s4)

{'apple', 'pineapple', 'orange', 'banana'}

# Exercise 9: Implementing Set Operations

## 1.

In [54]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

## 2.

In [55]:
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

## 3.

In [56]:
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

## 4.

In [57]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

## 5.

In [58]:
print(s5 <= s6)
print(s5.issubset(s6))

s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

## 6.

In [59]:
print(s7 < s8)
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

True
False
False

## 7.

In [60]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False